<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.mapper.BlogMapper">
    <select id="queryBlogsByBlogId" resultType="com.cc.entity.Blog">
        select * from tb_blog where id in
        <foreach collection="blogIds" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </select>

</mapper>
